{{#each users as |user| }}
  <div class="row align-center mb-5">
    <div class="col-md-6">
      <h2>{{{get_emoji}}} {{user.name}}</h2>
      <!-- Render user's name inside an <h2> element -->
    </div>
    <div class="col-md-6">
      {{#if user.email}}
        <!-- Check if user.email exists -->
        <h3><a href="mailto:{{user.email}}">{{user.email}}</a></h3>
        <!-- If user.email exists, render it as a clickable email link -->
      {{/if}}
    </div>
  </div>
{{/each}}

