<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-8">
            {{#if posts.length}}
            <!-- Check if there are posts available -->
            <div class="col-md-12 post-list">
                <h3 class="text-light">Your Posts:</h3>
                <!-- Display a heading for current posts -->

                {{#each posts as |post|}}
                <div class="row mb-2">
                    <div class="col-md-10">
                        <h4><a href="/api/posts/{{post.id}}">{{post.title}}</a></h4> <!-- Updated link -->
                    </div>
                    <div class="col-md-2">
                        <button class="btn btn-sm btn-danger float-right" data-id="{{post.id}}">DELETE</button>
                    </div>
                </div>
                {{/each}}
                <!-- End of post iteration -->
            </div>
            {{/if}}

            <!-- Add New Post Button -->
            <div class="col-md-12 text-right mt-3">
                <button type="button" class="btn btn-danger text-light"><a href="/dashboard/new" class="btn">Add Post</a></button>
            </div>
            <!-- End Add New Post Button -->
        </div>
    </div>
</div>
