<div class="row">
    <div class="col-md-6">
        <h3 class="text-light mb-4">To create a new post select the "Add New Post" button below:</h3>
        <!-- Display a heading for creating a new post -->

        <div class="container" style="max-width: 200px;"> <!-- Adjust max-width as needed -->
            <button type="button" class="btn btn-danger text-light"><a href="/dashboard/new" class="btn text-light">Add New Post</a></button>
        </div>
    </div>

    <div class="col-md-6">
        {{#if posts.length}}
        <!-- Check if there are posts available -->
        <div class="post-list">
            <h3 class="text-light mb-4">Your Posts:</h3>
            <!-- Display a heading for current posts -->

            {{#each posts as |post|}}
            <div class="row mb-2">
                <div class="col-md-8">
                    <h4><a href="/api/posts/{{post.id}}" class="text-light">{{post.title}}</a></h4> <!-- Updated link -->
                </div>
                <div class="col-md-4">
                    <button class="btn btn-sm btn-danger" data-id="{{post.id}}">DELETE</button>
                </div>
            </div>
            {{/each}}
            <!-- End of post iteration -->
        </div>
        {{/if}}
        <!-- End of check for available posts -->
    </div>
</div>
//updated the profile